<% if @tag_name %>
	<br>
	<h5>FILTER: <span class="label label-info"><%= @tag_name %><span></h5>
	<a href="<%= blog_path %>" class="btn-small btn-info">Remove Filter</a>
<% end %>

<div class="page-header">
  	<h4>Categories</h4>
</div>

<% tag_cloud Article.where(:published => true).tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag| %>
 	<h5><%= link_to tag.name, article_tag_path(tag.name) %></h5>
<% end %>
<br>

<div class="form-search">
	<div class="input-append">
		<%= form_tag articles_path, method: :get do %>
			<%= text_field_tag :query, params[:query], :class => "search-query search-field" %>
			<%= submit_tag "Search", name: nil, :class => "btn btn-primary" %>
		<% end %>				
	</div>
</form>
<br>    
<br>
<%= render "layouts/mailchimp_signup_form" %>
<br>
<br>    
