<div id="container">	
	<div class="row">

   	<div class="span9">
			<%- model_class = Article -%>

			<div class="page-header">
			  	<h2>The Engineering Survival Guide</h2>
			</div>
			
			<table class="table">
				<% @articles.each do |article| %>
					<tbody>
						<tr>
							<td>

								<div class="media">
									<h3><%= link_to article.title, article_path(article) %></h3>								
									<a class="pull-left">
										<dd><%= image_tag article.featured_image_url(:thumb).to_s %></dd>
									</a>
									<h5>
										<%= article.created_at.time.to_formatted_s(:default) %> -- 
										<%= display_tag_links(article) %>
										<% if article.comments_count(article) > 0 %>
										 	 --  <%= pluralize(article.comments_count(article), 'Comment') %>
										<% end %>
									</h5>
									<%= article.blurb %>
								</div>
		
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>

		<div class="span3" align="center">
			<div class="page-header">
			  	<h3>Categories</h3>
			</div>
			
			<% tag_cloud Article.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag| %>
		    	<h4><%= link_to tag.name, tag_path(tag.name) %></h4>
		  	<% end %>
			<br>

			<div class="page-header">
			  	<h3>Subscribe</h3>
			</div>
			<p>Sign up to receive the latest Blog Posts directly to your inbox!</p>
			<a href=<%= subscribe_blog_path %> class="btn btn-warning">Subscribe</a>
			<br>
		</div>
		
	</div>
</div>
		