<div id="container">	
	<div class="row">

   	<div class="span9">
			<%- model_class = Article -%>

			<div class="page-header">
			  	<h2>Blog</h2>
			</div>

		 	<% @articles.each do |article| %>
				<div class="hero-unit">
		
					<div class="page-header">
						<h3><%= link_to article.title, article_path(article) %></h3>
						<%= image_tag article.featured_image_url(:thumb).to_s %>
					</div>
					
					<%= article.body %>	
							
					<div class="form-actions">
						<a href=<%= article_path(article) %> class="btn btn-primary">View</a>
					</div>
					
				</div>
			<% end %>
		</div>

		<div class="span3" align="center">
			<div class="page-header">
			  	<h3>Featured Posts</h3>
			</div>
			
			<div class="page-header">
			  	<h3>Subscribe</h3>
			</div>
			<p>Sign up to receive the latest Blog Posts directly to your inbox!</p>
				
			<a href=<%= "#" %> class="btn btn-warning">Subscribe</a>
		</div>
	</div>
</div>
		