<div id="container">	
	<div class="row">
   	<div class="span9">
			
			<br>
			<table class="table">
				<% @articles.each do |article| %>
					<tbody>
						<tr>
							<td>
								<div class="media">
									<h3><%= link_to article.title, article_path(article) %></h3>								
									<a href="<%= article_path(article) %>" class="pull-left">
										<dd><%= image_tag article.featured_image_url(:thumb).to_s %></dd>
									</a>
									<h5>
										<%= article.created_at.time.to_formatted_s(:default) %> -- 
										<%= display_article_tag_links(article) %>
										<% if article.comments_count(article) > 0 %>
										 	 --  <%= pluralize(article.comments_count(article), 'Comment') %>
										<% end %>
									</h5>                          
									<h5>By: <%= article.author %></h5> 
									<%= article.blurb %>
								</div>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
			<h6><%= paginate @articles, :window => 2 %></h6>
		</div>

		<div class="span3" align="center">
			<%= render "blog_sidebar" %>
		</div>
	</div>
</div>