<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>1. Shopping Cart</h2>
			</div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td><h4>Item</h4></td>
						<td></td>
						<td><h4>Category</h4></td>
						<td><h4>Price</h4></td>														
						<td><h4>Remove</h4></td>	
					</tr>
				</thead>
				<tbody>
				<% @cart_items.each do |resource| %>
					<tr>
						<td><%= image_tag resource.image_url(:icon).to_s %></td>
						<td><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></td>
						<td><%= resource.category.name %></td>
						<% if resource.price_type == "Free" %>
							<td>Free</td>
						<% else %>
							<td><%= "$" + number_with_precision(resource.price_in_cents.to_f/100, :precision => 2) %></td>
						<% end %>
						<td><a href="<%= remove_from_cart_path(resource) %>" class="btn btn-mini">Remove</a></td>
					</tr>						
				<% end %>
					<tr>
						<td></td>
						<td></td>
						<td><b>Total: </b></td>
						<td><b><%= "$" + number_with_precision(@total_cost, :precision => 2) %></b></td>
						<td></td>
					</tr>
				</tbody>				
			</table>
			<div class="form-actions">
				<a href="<%= categories_path %>" class="btn btn-primary"><< Categories</a>			
			</div>
		</div>
				
		<div class="span3" align="center">
			<%= render "shopping_cart_sidebar" %>
		</div>
	</div>
</div>
