<% if @user.downloads.count > 0 %>

	<h4>View your resource purchase history.</h4><br>

	<table id="resource_downloads" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><h5>Order</h5></td>
				<td><h5>Purchased</h5></td>
				<td><h5>Resource</h5></td>
				<td><h5>Price</h5></td>	
				<td><h5>Download Link</h5></td>			
			</tr>
		</thead>
		<tbody>
			<% @downloads.each do |download| %>
			<tr>
				<td><%= download.shopping_cart.order_number %></td>
				<td><%= download.created_at %></td>
				<td><%= download.resource.name %></td>
				<td>
					<% if download.purchase_price_in_cents.to_i > 0 %>
						<%= "$" + number_with_precision((download.purchase_price_in_cents.to_i/100), :precision => 2) %>
					<% else %>
						Free
					<% end %>
				</td>
				<% if download.expiry_time > Time.now %>
					<td><b><a href="<%= resource_download_path(download.download_token) %>" target="_blank">Download</a></b></td>
				<% else %>
					<td>Expired</td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>


	<script>
		$('#resource_downloads').dataTable({
		  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		  "sPaginationType": "bootstrap"
		});
	</script>
	
<% else %>
	<h4>You have not yet purchased any items.</h4><br>
<% end %>