<div class="page-header">
  	<h2>Featured Resources</h2>
</div>

<table class="table">
	<% @featured_resources.each do |resource| %>
		<tbody>
			<tr>
				<td>
					<div class="media">
						<h3><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></h3>								
						<a href=<%= "#{category_resource_path(resource.category_id, resource.id)}" %> class="pull-left">
							<dd><%= image_tag resource.image_url(:thumb).to_s %></dd>
						</a>
						<h5>Type: <%= resource.category.name %> -- <%= display_category_tag_links(resource) %></h5>
						<% if resource.reviews.count > 0 %>			

							<% resource.average_rating.times do %>
								<i class="icon-star rating-colour-medium"></i>
							<% end %>

							<% (5 - resource.average_rating).times do %>
								<i class="icon-star-empty rating-no-colour-medium"></i>
							<% end %>

						<% else %>			
							Not yet rated
						<% end %>
						<%= resource.description %>
					</div>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>