<ul class="inline">
	<li><h3>Newest Resources</h3></li>
	<li><h4><a href=<%= categories_path %>>more</a></h4></li>
</ul>

<ul class="thumbnails">
	<% @newest_resources.each do |resource| %>
  		<li class="span3" align="center">
    		<div class="thumbnail" align="center">
      		<h4><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></h4> 
      		
				<% unless resource.image_1.blank? %>
					<a href=<%= "#{category_resource_path(resource.category_id, resource.id)}" %>>
						<dd><%= image_tag resource.image_1_url(:thumb).to_s, :class => "img-polaroid" %></dd>
					</a>
				<% end %>
					
				<% if resource.reviews.count > 0 %>			

					<% resource.average_rating.times do %>
						<i class="icon-star rating-colour-medium"></i>
					<% end %>

					<% (5 - resource.average_rating).times do %>
						<i class="icon-star-empty rating-no-colour-medium"></i>
					<% end %>

				<% else %>			
					<h5>Not yet rated</h5>
				<% end %>
      		<p><%= resource.description %></p>
    		</div>
  		</li>
	<% end %>
</ul>