<ul class="inline">
	<li><h3>Newest Articles</h3></li>
	<li><h4><a href=<%= articles_path %>>more</a></h4></li>
</ul>

<ul class="thumbnails">
	<% @newest_articles.each do |article| %>
  		<li class="span3" align="center">
    		<div class="thumbnail" align="center">
				
				<% unless article.featured_image.blank? %> 
					<a href=<%= "#{article_path(article)}" %>>
						<dd><%= image_tag article.featured_image_url(:thumb).to_s, :class => "img-polaroid" %></dd>
					</a>
				<% end %>
				
				<h4><%= link_to article.title, article_path(article) %></h4> 
				<h5><%= article.author %> -- <%= article.created_at.time.to_formatted_s(:default) %></h5> 
				<%= article.blurb %>
    		</div>
  		</li>
	<% end %>
</ul>                   