<div id="container">	
	<div class="row">
		      
		<div class="hero-unit" align="center">
			<h4>Everything you ever needed to know about becoming an engineer.</h4>
		</div>
		
		<div class="span9">
			<%= render "newest_articles" %>
			<%= render "newest_resources" %> 
		</div>
		
		<div class="span3" align="center">
			<%= render "recent_resources" %>    
			<br>
			<%= render "popular_resources" %>
			<br> 
			<%= render "resource_categories" %>
			<br>			
		</div>

	</div>
</div>