<h1>Contact Us</h1>

<%= form_for @contact do |f| %>

	<p>Please drop us a line for any suggestions, issues, bugs or just to say hi!</p>

  	<div class="field">
   	<%= f.label :name %><br />
    	<%= f.text_field :name %>
 	</div>

  	<div class="field">
    	<%= f.label :email %><br />
    	<%= f.text_field :email %>
  	</div>

  	<div class="field">
    	<%= f.label :subject %><br />
    	<%= f.text_field :subject %>
  	</div>

  	<div class="field">
    	<%= f.label :body %><br />
    	<%= f.text_field :body %>
  	</div>

  	<div class="actions"><%= f.submit "Submit" %></div>

<% end %>