<%= image_tag attachments['Email_Header-ESG.jpg'].url, :alt => 'Email Header - ESG' %>

<h2>Thank you for submitting a Contact Ticket to Engineering SurvivalGuide.</h2>               
<h2>Details of your ticket are as follows:</h2>  

<strong>Name:    </strong> <%= @contact.name %>
<strong>Email:   </strong> <%= @contact.email %>
<strong>Subject: </strong> <%= @contact.subject %>
<strong>Message: </strong> <%= @contact.body %>



Copyright: 2013 Engineering Survival Guide, All rights reserved.
<a href="http://www.engineeringsurvivalguide.com" target="_blank">EngineeringSurvivalGuide.com</a>