<%= image_tag attachments['Email_Header-ESG.jpg'].url, :alt => 'Email Header - ESG' %>

<h2>User has submitted a Contact Us form:</h2>

<strong>Name:    </strong> <%= @contact.name %>
<strong>Email:   </strong> <%= @contact.email %>
<strong>Subject: </strong> <%= @contact.subject %>
<strong>Message: </strong> <%= @contact.body %>



Copyright: 2013 Engineering Survival Guide, All rights reserved.
<a href="http://www.engineeringsurvivalguide.com" target="_blank">EngineeringSurvivalGuide.com</a>