<div class="page-header">
	<h3>Reviews</h3>
</div>

<table class="table table-striped">
	<% @resource.reviews.where(:spam => false).order("created_at ASC").each do |review| %>
		<thead>
			<tr>
				<td>
					<div class="row-fluid">
						<div class="span6">
							<div class="blog-article-list">
								<div class="media">
									<a class="pull-left">
										<dd><%= image_tag(review.user.avatar.url(:avatar)) %></dd>
									</a>
									<h4><%= review.title %></h4>
									<h5>By: <%= "#{review.user.first_name} #{review.user.last_name}" %>, <%= review.created_at.time %></h5>
								</div>
							</div>
						</div>
						<div class="span2">
							<% review.rating.times do %>
								<i class="icon-star rating-colour-large"></i>
							<% end %>

							<% (5 - review.rating).times do %>
								<i class="icon-star-empty rating-no-colour-large"></i>
							<% end %>
							<h5>Rated: <%= review.rating %>/5</h5>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= review.body %></td>
			</tr>
		</tbody>
	<% end %>
</table>