<div class="page-header">
	<h3>Reviews</h3>
</div>

<table class="table table-striped">
	<% @resource.reviews.where(:spam => false).order("created_at ASC").each do |review| %>
		<thead>
			<tr>
				<td>
					<div class="row-fluid">
						<div class="span6">
							<div class="blog-article-list">
								<div class="media">
									<a class="pull-left">
										<dd><%= image_tag(review.user.avatar.url(:avatar)) %></dd>
									</a>
									<h4><%= review.title %></h4>
									<h5>By: <%= "#{review.user.first_name} #{review.user.last_name}" %>, <%= review.created_at.time %></h5>
								</div>
							</div>
						</div>
						<div class="span2">
							<h4>Rated: <%= review.rating %>/5</h4>
						</div>
						<div class="span4">
							<div class="progress progress-striped progress-warning">
								<div class="bar" style="width: <%= ((review.rating.to_f/5)*100) %>%"></div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= review.body %></td>
			</tr>
		</tbody>
	<% end %>
</table>

<div class="form-actions">
	<% if current_user %>
		<h3>Add a review:</h3>
		<%= simple_form_for([@category, @resource, @resource.reviews.build], :html => { :class => 'form-horizontal' }) do |f| %>
			<%= f.input :rating, as: :select, :include_blank => false, :collection => [1, 2, 3, 4, 5], :selected => 5 %>					
			<%= f.input :title, :required => true, :input_html => { :class => 'subject-field' } %>
			<%= f.input :body, as: :text, :label => "Review", :required => true, :input_html => { :class => "resource-reviews", :maxlength => 2000 } %>					
		  	<div class="form-actions">
				<a href="#submit_comment" role="button" class="btn btn-primary" data-toggle="modal">Submit</a>
		  	</div>

			<!-- Modal Window -->
			<div id="submit_comment" class="modal hide fade blog-subscription-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
			   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    	<h3 id="myModalLabel">The Engineering Survival Guide</h3>
			  	</div>

				<div class="modal-body">
			   	<p>Are you sure you want to submit this review?</p>
			  	</div>

				<div class="modal-footer">
			    	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				  	<%= f.button :submit, :value => "Submit Review", :class => 'btn-warning' %>
			  	</div>
			</div>
		<% end %>
	<% else %>
		<div class="form-horizontal comments-links">
			<p>Sign up or Login to submit a review!</p>
			<a href=<%= signup_path %> class="btn btn-info">Sign Up</a>
			<a href=<%= login_path %> class="btn">Login</a>	
		</div>					
	<% end %>
</div>

