<div class="page-header">
	<h2><%= @resource.name %></h2>
	<p><%= @resource.category.name %> | <%= display_category_tag_links(@resource) %></p>	
</div>
<p><b>Description:</b> <%= @resource.description %></p>
<p><b>Provider:</b> <%= @resource.user.email %></p>
<p><b>Price:</b> $<%= @resource.price %></p>
<p><b>No. Downloads:</b> <%= @resource.number_of_downloads %></p>

<!-- Button to trigger modal -->
<a href="#resource-preview" role="button" class="btn btn-warning" data-toggle="modal">Preview</a>
 
<!-- Modal -->
<div id="resource-preview" class="modal hide fade resource-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Resource Preview</h3>
  	</div>
 	
	<div class="modal-body">
   	<p><%= image_tag(@resource.image.url(:preview)) %></p>
	</div>
 	
	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  	</div>
</div>
<br>
<br>