<div class="page-header">
	<h2><%= @resource.name %></h2>
	<p><%= @resource.category.name %> | <%= display_category_tag_links(@resource) %></p>	
</div>

<div class="media">				
	<a class="pull-left">
		<dd><%= image_tag @resource.image_url(:medium).to_s %></dd>
	</a>
	<p><b>Description:</b> <%= @resource.description %></p>
	<p><b>Provider:</b></p>
	<p><b>Price:</b>
		<% if @resource.price_in_cents > 0 %>
			<%= "$" + number_with_precision(@resource.price_in_cents.to_f/100, :precision => 2) %>
		<% else %>
			Free
		<% end %>
	</p>
	<p><b>Downloads:</b> <%= @resource.number_of_downloads %></p>
	<p><b>Reviews:</b> <%= @resource.number_of_reviews %></p>
	<a href="#resource-preview" role="button" class="btn" data-toggle="modal">Preview</a>
	<% if already_in_cart(@resource) %>
		<a href="<%= shopping_cart_path %>" class="btn btn-success">View Cart</a>
		<h4>Item is already in Shopping Cart.</h4>
	<% else %>
		<a href="<%= add_to_cart_path %>" class="btn btn-success">Add to Cart</a>	
	<% end %>
</div>

 
<!-- Modal -->
<div id="resource-preview" class="modal hide fade resource-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Resource Preview</h3>
  	</div>
 	
	<div class="modal-body resource-preview-modal-body">
   	<p><%= image_tag(@resource.image.url(:preview)) %></p>
	</div>
 	
	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  	</div>
</div>
<br>
<br>