<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h3>SEARCHING FOR: <span class="label label-info"><%= @search_term %><span></h3>	
			</div>
			
			<table class="table table-striped">
				<% @resources.each do |resource| %>
					<thead>
						<tr>
							<td class="blog-article-list">
								<div class="media">
									<h3><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></h3>	
									<a class="pull-left">
										<dd><%= image_tag resource.image_url(:thumb).to_s %></dd>
									</a>
									<h5>Type: <%= resource.category.name %> -- <%= display_category_tag_links(resource) %></h5>
									<h5>Price:  
										<% if resource.price_type == "Paid" %>
											$<%= resource.price %>
										<% else %>
											FREE
										<% end %>
									</h5>
									<%= resource.description %>
								</div>					
							</td>
						</tr>
					</thead>
				<% end %>
			</table>
			
			<a href="<%= categories_path %>" class="btn btn-info">Clear Search</a>	
		</div>
		
		<div class="span3" align="center">
			<%= render "categories/resources_sidebar" %>
		</div>
	</div>
</div>





<% @resources.each do |resource| %>
	<p><%= resource.name %></p>
<% end %>