<div id="container">	
	<div class="row">

   	<div class="span12">
			<%= render "show_resource_details" %>
			
			<div class="form-actions">
				<a href="<%= category_tag_path(@tag_name) %>" class="btn btn-primary"><< Categories</a>
				<a href="<%= show_category_tag_path(@resource.category) %>" class="btn btn-primary"><< <%= @resource.category.name.pluralize %></a>	
				<a href="<%= categories_path %>" class="btn btn-info">Remove Filter</a>
			</div>
		</div>
	</div>
</div>