<div id="container">	
	<div class="row">

   	<div class="span9">			
			<%= render "show_resource_details" %>
			
			<div class="form-actions">
				<a href="<%= categories_path %>" class="btn btn-primary"><< Categories</a>
				<a href="<%= category_path(@resource.category_id) %>" class="btn btn-primary"><< <%= @resource.category.name.pluralize %></a>
			</div>
			
		</div>
			
		<div class="span3" align="center">
			<%= render "categories/resources_sidebar" %>
		</div>
	</div>
</div>