<h3>Engineering Survival Guide</h3>
<h4>Name: <%= "#{@order.first_name} #{@order.last_name}" %></h4>
<h4>Order Number: <%= @order.order_number %></h4>

<h4>Download Links:</h4>
<p>Click links to download your resources.</p>
<p>Please Note: These links are valid for 24 hours only.</p>
<p>Please access before: <%= @order.downloads.first.expiry_time.time.to_formatted_s(:long) %></p>

<% @order.downloads.each do |download| %>
	<h5><a href=<a href="<%= resource_download_path(download.download_token) %>" target="_blank"><%= "Download: #{download.resource.name}" %></a></h5>
<% end %>