<tr>
	<td class="blog-article-list">
		<div class="media">
		
			<% if @tag_name != nil %>
				<h4><%= link_to resource.name, show_resource_tag_path(resource.category_id, resource.id) %></h4>
				<a href="<%= show_resource_tag_path(resource.category_id, resource.id) %>" class="pull-left">
					<dd><%= image_tag resource.image_1_url(:thumb).to_s %></dd>
				</a>
			<% else %>
				<h4><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></h4>
   			<a href="<%= category_resource_path(resource.category_id, resource.id) %>" class="pull-left">
				<dd><%= image_tag resource.image_1_url(:thumb).to_s %></dd>
			</a>
			<% end %>
			<h5>Type: <%= resource.category.name %> -- <%= display_category_tag_links(resource) %></h5>
			<h5>Price:  
				<% if resource.price_type == "Paid" %>
					<%= "$" + number_with_precision(resource.price_in_cents.to_f/100, :precision => 2) %>
				<% else %>
					FREE
				<% end %>
				<% if resource.number_of_downloads > 0 %>
				 	-- <%= pluralize(resource.number_of_downloads, "Download") %><% end %>
				<% if resource.number_of_reviews > 0 %>
				 	-- <%= pluralize(resource.number_of_reviews, "Review") %><% end %>										
			</h5>
			<h5>Rating: 
			
				<% if resource.reviews.count > 0 %>			

					<% resource.average_rating.times do %>
						<i class="icon-star rating-colour-medium"></i>
					<% end %>

					<% (5 - resource.average_rating).times do %>
						<i class="icon-star-empty rating-no-colour-medium"></i>
					<% end %>

				<% else %>			
					Not yet rated
				<% end %>
			
			</h5>
			<%= resource.description %>
		</div>					
	</td>
</tr>