<% if @tag_name %>
	<br>
	<h5>FILTER: <span class="label label-info"><%= @tag_name %><span></h5>
	<a href="<%= categories_path %>" class="btn-small btn-info">Remove Filter</a>
<% end %>  

<div class="page-header">
  	<h4>Tags</h4>
</div>
<% tag_cloud Resource.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag| %>
 	<h5><%= link_to tag.name, category_tag_path(tag.name) %></h5>
<% end %>
<br>


<div class="form-search">
	<div class="input-append">
		<%= form_tag({:controller => 'resources', :action => 'search'}, :method => 'get') do %>
			<%= text_field_tag :query, params[:query], :class => "search-query search-field" %>
			<%= submit_tag "Search", name: nil, :class => "btn btn-primary" %>
		<% end %>
	</div>
</div>              

<%= render "layouts/mailchimp_signup_form" %>
<br>
<br>