<div id="container">	
	<div class="row">

		<div class="span9">   	 
			<div class="span9">
				<br>
				<div class="well well-small">
					<%= render "resource_categories" %> 
				</div>
			</div>
		
			<div class="span9">		
				<% if @tag_name != nil %>                                  

					<table class="table table-striped">
						<tbody>
							<% @filtered_resources.each do |resource| %>
								<%= render :partial => "display_resource", :locals => { :resource => resource } %>
							<% end %>
						</tbody>
					</table>                                             
					<h6><%= paginate @filtered_resources, :window => 2 %></h6>				
				
				<% else %>

					<table class="table table-striped">
						<tbody>
							<% @resources.each do |resource| %>
								<%= render :partial => "display_resource", :locals => { :resource => resource } %>
							<% end %>
						</tbody>
					</table>                                             
					<h6><%= paginate @resources, :window => 2 %></h6>      

				<% end %>
				<br>
			</div>   
		</div>
		
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
