<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2><%= @category.name.pluralize %></h2>
			</div>		
			
			<table class="table table-striped">
				<% @resources.each do |resource| %>
					<thead>
						<tr>
							<td class="blog-article-list">
								<div class="media">
									<h3><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %></h3>	
									<a class="pull-left">
										<dd><%= image_tag resource.image_url(:thumb).to_s %></dd>
									</a>
									<h5>Type: <%= resource.category.name %> -- <%= display_category_tag_links(resource) %></h5>
									<h5>Price:  
										<% if resource.price_type == "Paid" %>
											<%= "$" + number_with_precision(resource.price_in_cents.to_f/100, :precision => 2) %>
										<% else %>
											FREE
										<% end %>
										<% if resource.number_of_downloads(resource) > 0 %>
										 	-- <%= pluralize(resource.number_of_downloads(resource), "Download") %><% end %>
										<% if resource.number_of_reviews(resource) > 0 %>
										 	-- <%= pluralize(resource.number_of_reviews(resource), "Review") %><% end %>										
									</h5>
									<%= resource.description %>
								</div>					
							</td>
						</tr>
					</thead>
				<% end %>
			</table>
			<h6><%= paginate @resources, :window => 2 %></h6>
			

			<div class="form-actions">
				<a href="<%= categories_path %>" class="btn btn-primary"><< Categories</a>			
			</div>
			
		</div>
			
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
	