<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2><%= @category.name.pluralize %></h2>
			</div>

			<table class="table table-striped">
				<% @filtered_resources.each do |resource| %>
					<thead>
						<tr>
							<td class="blog-article-list">
								<div class="media">
									<h3><%= link_to resource.name, show_resource_tag_path(resource.category_id, resource.id) %></h3>	
									<a class="pull-left">
										<dd><%= image_tag resource.image_url(:thumb).to_s %></dd>
									</a>
									<h5>Type: <%= resource.category.name %> -- <%= display_category_tag_links(resource) %></h5>
									<h5>Price:  
										<% if resource.price_type == "Paid" %>
											$<%= resource.price %>
										<% else %>
											FREE
										<% end %>
									</h5>
									<%= resource.description %>
								</div>					
							</td>
						</tr>
					</thead>
					<tbody>
						<tr><td><%= resource.description %></tr>
					</tbody>
				<% end %>
			</table>
			
			<a href="<%= category_tag_path(@tag_name) %>" class="btn btn-primary"><< Categories</a>
			<a href="<%= categories_path %>" class="btn btn-info">Remove Filter</a>				
			
		</div>
			
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>