<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h3><%= @category.name.pluralize %></h3>
			</div>		
			
			<% if @tag_name != nil %>

				<table class="table table-striped">
					<% @filtered_resources.each do |resource| %>
						<%= render :partial => "display_resource", :locals => { :resource => resource } %>
					<% end %>
				</table>

				<div class="form-actions">
					<a href="<%= category_tag_path(@tag_name) %>" class="btn btn-primary"><< Resources</a>
					<a href="<%= categories_path %>" class="btn btn-info">Remove Filter</a>		
				</div>		
			</div>
			
			<% else %>
			
				<table class="table table-striped">
					<% @resources.each do |resource| %>
						<%= render :partial => "display_resource", :locals => { :resource => resource } %>
					<% end %>
				</table>

				<div class="form-actions">
					<a href="<%= categories_path %>" class="btn btn-primary"><< Resources</a>			
				</div>
			</div>
			
			<% end %>
			
			
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
	